.login {
  display: flex;
}

.login-Right {
  background-image: url("../Images/tmp_89f74208-75a2-4c86-9724-aa01cdd4d519.jpeg");
  width: 40%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-Left {
  width: 40%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  z-index: 1000;
  height: 67.5vh;
  padding-top: 200px;
  position: relative;
  left: 35%;
  overflow-y: hidden;
}
.loginTitle {
  font-size: 40px;
  font-family: Kameron;
  font-weight: bolder;
}
.undertext {
  margin-top: 10px;
  margin-bottom: 20px;
}
.login-information {
  display: flex;
  flex-direction: column;
}
.login-content {
  width: 400px;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 15px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
.loginBtn {
  width: 200px;
  height: 40px;
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #863230;
  margin: 10px 0;
  cursor: pointer;
}
