@media only screen and (min-width: 360px) and (max-width: 991px) {
  .carousel .list .item .title {
    font-size: 35px;
  }
  .carousel .list .item .buttons {
    display: flex;
    flex-direction: column;
  }
  .wrapper {
    display: none;
  }
  .featuresSection {
    height: fit-content;
    padding: 20px;
  }
  .numbersSection {
    flex-direction: column;
  }
  .numberDiv {
    width: 95%;
    margin: 5px 0;
  }
  footer {
    flex-direction: column;
  }
  .footerDiv {
    width: 95%;
    margin: 5px 0;
  }
  .productsPageTitle {
    font-size: 35px;
  }
  .underText {
    text-align: center;
    width: 90%;
  }
  .categoriesListDiv {
    flex-wrap: wrap;
  }
  .singleCategories {
    font-size: 18px;
    margin-right: 0px;
    margin: 5px;
  }
  .productComponentImage {
    width: 150px;
    height: 150px;
  }
  .productComponentName {
    font-size: 15px;
  }
  .insideUserProfile {
    width: 95%;
  }
  .user-menu-bar {
    width: fit-content;
    padding: 5px;
  }
  .user-menu-li {
    font-size: 16px;
  }
  .heroSectionRight {
    display: none;
  }
  .heroSectionLeft {
    width: 90%;
  }

  .heroBigText {
    font-size: 40px;
  }
  .heroSmallText {
    font-size: 17px;
    margin: 0;
    margin-bottom: 7px;
  }
  .numbersSection {
    flex-direction: row;
  }
  .numberInNumberDiv {
    font-size: 30px;
  }
  .textInNumberDiv {
    font-size: 17px;
  }
  .aboutSection {
    flex-direction: column;
    padding: 7px;
    margin-top: 15px;
  }
  .aboutSectionLeft {
    width: 95%;
    padding: 20px;
  }
  .aboutSectionTitle {
    font-size: 39px;
  }

  .whyUsText {
    font-size: 38px;
    text-align: center;
    padding: 15px;
  }
  .showDiv {
    display: flex;
    width: 95%;
  }
  .reasonDiv {
    width: fit-content;
  }
  .contactGif {
    width: 90%;
    height: fit-content;
  }
  .width-plus {
    width: 380px;
  }
  .signUp-Left {
    display: none;
  }
  .signUp-Right {
    width: 90%;
  }
  .inside-signUp-Right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .signUp {
    align-items: center;
    justify-content: center;
  }
  .colDisplay {
    flex-direction: column;
  }
  .userImage {
    width: 90px;
    height: 90px;
  }

  .userTitle {
    font-size: 20px;
  }
  .nextToImage {
    margin-top: 12px;
  }
  .userInfoText {
    font-size: 18px;
  }
  .user-btn-div {
    margin: 10px 0;
    display: flex;
  }
  .deleteText {
    margin: 10px 0;
  }
  .updateDataBtn {
    width: fit-content;
  }
  .table-data-title {
    font-size: 15px;
  }
  .user-menu-content {
    padding: 15px;
  }
  .form-check {
    margin-bottom: 0px;
    font-size: 15px;
  }
  .form-check input {
    margin-right: 6px;
    margin-top: -18px;
  }
  .login-Left {
    width: 70%;
    left: 10%;
  }
  .loginBtn {
    padding: 7px;
  }
  .insideCheckOut {
    flex-direction: column;
  }
  .ShippingDetails {
    width: 90%;
    border-right: none;
  }
  .paymentDiv {
    width: 300px;
  }

  .cartFinalDetail {
    width: 90%;
  }
  .carousel .list .item .buttons button {
    width: 150px;
    padding: 8px;
  }
  .featureQuestion {
    font-size: 25px;
  }
  .latestItemRow a {
    font-size: 19px;
  }

  .contactInputDiv {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .cartTitle {
    font-size: 25px;
  }

  .continueShopping {
    font-size: 15px;
    margin-top: 6px;
  }

  .tableHead {
    font-size: 20px;
  }
  .insideViewCart {
    width: 100%;
  }
  .fullPrice {
    font-size: 18px;
  }

  .proceedBtn {
    font-size: 17px;
  }
  .displayNone{
    display: none;
  }
  .carousel .list .item .content {
    top: 15%;
    left: 80%;
  }
  .featureTitle {
    font-size: 21px;
  }
  .category-li-title{
    font-size: 20px;
  }
  .featureSubTitle{ 
    font-size: 22px;
  }
  .featureDesc {
    color: #000;
    width: 90%;
}
.lastestProductImage {
  width: 150px;
  height: 150px;
}
.lastestProductProduct {
  cursor: pointer;
  margin: 3px;
}
.latestProductName {
  font-size: 20px;
  margin: 10px 0;
}
.bigImage {
  height: 150px;
  width: 150px;
}
.smallImages {
  height: 80px;
  width: 80px;
}
.productCategory {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 10px 0;
  font-size: 18px;
}

.productName {
  font-size: 21px;
}
.productPrice {
  font-size: 20px;
}
.flexRow p {
  font-size: 15px;
}
.categorytext{
  font-size: 15px;
}
.productsDesc{
  font-size: 13px;
}
.color {
  width: 30px;
  height: 30px
}
.buttonsDiv{
  flex-direction: column;
}

.numberButton {
  width: 86px;
  padding: 10px;
  font-size:18px;
  margin: 5px 0px;
}
.addToCartBtn {
  width: 110px;
  height: 40px;
  font-size:18px;
}
}